name: Релиз

permissions:
  packages: write

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - env:
          VERSION: ${{ inputs.version }}
          TAG_NAME: ${{ inputs.tag }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          sed -i 's/0.0.0.0/$VERSION/' Directory.Build.props
          echo $GITHUB_TOKEN | docker login ghcr.io -u ornaras --password-stdin
          docker buildx build --platform linux/amd64 -t ghcr.io/ornaras/recify:latest -t ghcr.io/ornaras/recify:$TAG_NAME --push .
          echo $DOCKER_TOKEN | docker login docker.io -u ornaras --password-stdin
          docker buildx imagetools create -t docker.io/ornaras/recify:latest ghcr.io/ornaras/recify:latest
          docker buildx imagetools create -t docker.io/ornaras/recify:$TAG_NAME ghcr.io/ornaras/recify:$TAG_NAME
