name: Релиз

permissions:
  packages: write

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - run: |
          sed -i 's/0.0.0.0/${{ inputs.version }}/' Directory.Build.props
          docker login ghcr.io -u ornaras -p ${{ secrets.GITHUB_TOKEN }}
          docker buildx build --platform linux/amd64 -t ghcr.io/ornaras/recify:latest -t ghcr.io/ornaras/recify:${{inputs.tag}} --push .
          docker login docker.io -u ornaras -p ${{ secrets.DOCKER_TOKEN }}
          docker buildx imagetools create -t docker.io/ornaras/recify:latest ghcr.io/ornaras/recify:latest
          docker buildx imagetools create -t docker.io/ornaras/recify:${{inputs.tag}} ghcr.io/ornaras/recify:${{inputs.tag}}
